absl-py==2.5.0
altgraph==0.17.5
certifi==2026.7.22
cffi==2.1.1
contourpy==1.4.0
cycler==0.12.1
flatbuffers==25.12.19
fonttools==4.66.1
kiwisolver==1.5.1
matplotlib==3.11.2
mediapipe==1.0.1
numpy==2.5.3
opencv-contrib-python==5.0.0.93
opencv-python==5.0.0.93
opensim==4.6
packaging==26.3
pefile==2024.8.26
pillow==12.3.0
pycparser==3.0
pyinstaller==6.22.3
pyinstaller-hooks-contrib==2026.8
pyparsing==3.3.3
python-dateutil==2.9.0.post0
pywin32-ctypes==0.2.3
setuptools==84.0.0
six==1.17.0
sounddevice==0.5.6
